# Server Configuration
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/apfc

# MQTT Configuration
# Protocol can be mqtt, mqtts, ws, wss, etc.
MQTT_BROKER_URL=mqtt://broker.hivemq.com:1883
MQTT_TOPIC=apfc/data
MQTT_USERNAME=
MQTT_PASSWORD=
# Client ID is optional, will auto-generate if empty
MQTT_CLIENT_ID=apfc_server_subscriber
